  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}

body{
    background: #020307;
    color: #fff;
}


.heading{
    max-width: 86vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid #E50914;
}
.movies-container{
    max-width: 85vw;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box-img{
    width: 100%;
    height: 270px;
    cursor: pointer;
}
.box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box-img img:hover{
    transform: translateY(-10px);
    transition: 0.2s all linear;
}
.box h3{
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 500;
}
.box span{
    font-size: 13.8px;
}

.unseenbox {
    display: none;
}

.coming-container{
    display: grid;
    gap: 1rem;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.coming-container .box img:hover{
    transform: translateY(0);
}
.coming-container .box img{
    border-radius: 15px;
}

.newsletter{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}
.newsletter h2{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.newsletter form{
    background: #fff;
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}
.newsletter form input{
    border: none;
    outline: none;
}
.email{
    width: 280px;
}
.newsletter form input::placeholder{
    color: #020307;
    font-size: 0.8rem;
    font-weight: 400;
}
.newsletter .btn{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.copyright{
    width: 98vw;
    background-color: #1d1e1f;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}

/* responsive  */
@media (max-width: 1080px){
    .home-text{
        padding: 0 100px;
    }
}
@media (max-width: 991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text{
        padding: 0 4%;
    }
    .home-text h1{
        font-size: 3rem;
    }
    .unseenbox {
        display: block;
    }
}
@media (max-width: 774px){
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
        color: #fff;
    }
    header.shadow #menu-icon{
        color: #020307;
    }
    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54/15%);
        transition: 0.2s all linear;
        text-align: center;
        width: 100%;
    }
    .navbar a{
        color: #020307;
    }
    .navbar a:hover{
        color: #ff2c1f;
        border-bottom: 1px solid #ff2c1f;
    }
    .navbar a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }
    .home-text h1{
        font-size: 2.4rem;
    }
    .btn{
        padding: 0.6rem 1.2rem;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(160px,auto));
    }
}
@media (max-width: 472px){
    .newsletter form .email{
        width: auto;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .container{
        width: 100%;
        min-height: 500px;
    }
    header{
        padding: 6px 4%;
    }
    .home-text h1{
        font-size: 1.7rem;
    }
    .play{
        right: 2rem;
        bottom: 8%;
    }
    .play .bx{
        padding: 7px;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }
}